.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; }

.ring-little {
  border: 0.2rem solid orange;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0.1rem 0.1rem 5px #996300, inset 0.1rem 0.1rem 5px #996300; }

.ring-big {
  border: 0.5rem solid yellow;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0.25rem 0.25rem 5px #999900, inset 0.25rem 0.25rem 5px #999900; }

.rings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ring:nth-child(1) {
  border: 0.1rem solid red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  box-shadow: 0.05rem 0.05rem 5px #990000, inset 0.05rem 0.05rem 5px #990000;
  position: relative;
  right: 0.2rem; }

.ring:nth-child(2) {
  border: 0.2rem solid red;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0.1rem 0.1rem 5px #990000, inset 0.1rem 0.1rem 5px #990000;
  position: relative;
  right: 0.8rem; }

.ring:nth-child(3) {
  border: 0.3rem solid red;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 0.15rem 0.15rem 5px #990000, inset 0.15rem 0.15rem 5px #990000;
  position: relative;
  right: 1.8rem; }

.ring:nth-child(4) {
  border: 0.4rem solid red;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0.2rem 0.2rem 5px #990000, inset 0.2rem 0.2rem 5px #990000;
  position: relative;
  right: 3.2rem; }

.ring:nth-child(5) {
  border: 0.5rem solid red;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 0.25rem 0.25rem 5px #990000, inset 0.25rem 0.25rem 5px #990000;
  position: relative;
  right: 5rem; }

.ring:nth-child(6) {
  border: 0.6rem solid red;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  box-shadow: 0.3rem 0.3rem 5px #990000, inset 0.3rem 0.3rem 5px #990000;
  position: relative;
  right: 7.2rem; }
